:host {
	display: block;
}

.u-bg-gradient-1 {
	background: linear-gradient(145deg, hsl(350deg 100% 93%), hsl(47deg 100% 87%) 40%, hsl(47deg 100% 87%) 60%, hsl(47deg 100% 53%));
}

:host ::ng-deep app-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	margin-bottom: 0;
}
